<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<div>
  <ul class="breadcrumb">
    <li>
      <a href=#">Home</a> <span class="divider">/</span>
    </li>
      <li>
      <a href="<%= admin_journalisms_path  %>">内容管理</a> <span class="divider">/</span>
    </li>
    <li>
      内容详细
    </li>
  </ul>
</div>
<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-content">
      <p>
        分类：<%= @journalism.question_category_name %>
      </p><br/>

      <p>
        内容：<%= @journalism.descrpiton.html_safe %>
      </p>

      <br/> <br/>
    </div>
  </div>
  <!--/span-->
</div><!--/row-->