/* 转载请保留版权信息：懒人图库 www.lanrentuku.com */
* {
    padding: 0px;
    margin: 0px;
}

* html {
    background-image: url(about:blank);
    background-attachment: fixed;
}

/*解决IE6下滚动抖动的问题*/
/*解决IE6下不兼容 position:fixed 的问题*/
#code, #code_hover, #gotop {
    width: 41px;
    height: 51px;
    background: url(../images/icon01.png) no-repeat;
    position: fixed;
    left: 50px;
    cursor: pointer;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}

#code {
    background-position: -2px -258px;
    bottom: 120px;
    _margin-bottom: 120px;
}

#code_hover {
    background-position: -2px -258px;
    bottom: 120px;
    _margin-bottom: 120px;
}

#gotop {
    background-position: -42px -310px;
    bottom: 67px;
    _margin-bottom: 67px;
}

#code_img {
    width: 580px;
    height: 355px;
    background: url(../images/icon01.png) -80px -3px no-repeat;
    position: fixed;
    left: 90px;
    bottom: 67px;
    cursor: pointer;
    display: none;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    _margin-bottom: 67px;
}