<div class="inuoo">
  <%= render 'common/navigation' %>
  <div class="index_main">
    <div class="box">
      <a href="http://www.google.cn/intl/zh-CN/chrome/browser/" title="新校尉教育" id="web_logo">
        <img src="/images/google_ie.jpg" alt="新校尉教育" title="新校尉教育" style="margin:0px 0px 0px 60px;">
      </a>
    </div>
    <div class="clear"></div>
  </div>
  <!--               QQ   代码 开始                   -->
  <%= render 'common/kefu' %>
  <!-- 代码 结束 -->
</div>