<div class="foot">
  <div class="foot_img"></div>
  <div class="foot_p">
    <p>版权所有 长春新校尉教育 版权所有 地址：长春市同志街与西康路交汇处，威宝大厦七层、十三层、十四层 电话：400-6798909 www.xinxiaowei.cn 微信服务账号：新校尉教育(xinxiaoweiedu) </p>
  </div>
</div>
