<a href="<%= campus_main_index_path %>">
    <img src="/images/hd3.jpg" width="340" height="243" align="right"/>
</a>
<!--
<div class="wrapper">
    <div id="slideshow" class="box_skitter fn-clear">
        <ul>
            <li>
                <img alt="Joomla模板与内容的融合设计" class="cubeRandom" src="/images/hd3.jpg"/></li>
            <li>
                <img alt="野草工作室一直在用心建站" class="cubeRandom" src="/images/hd3.jpg"/></li>
            <li>
                <img alt="利用Joomla+SEO提升网络营销竞争力" class="cubeRandom" src="/images/hd3.jpg"/></li>
        </ul>
    </div>
</div>
-->