<LINK rel=stylesheet type=text/css href="../css/lrtk_q.css">
<SCRIPT type=text/javascript src="../js/cs_q.js"></SCRIPT>
<div id="qq_icon"></div>
<div id="cs_online">
  <ul class='qq_context'>
    <li>
      <p>新校尉客服01：<span class='qq_num'></span></p>
    </li>
    <li>
      <p>新校尉客服02：<span class='qq_num'></span></p>
    </li>
    <li>
      <p>新校尉客服03：<span class='qq_num'></span></p>
    </li>
    <li>
      <p>新校尉客服04：<span class='qq_num'></span></p>
    </li>
    <li>
      <p>新校尉客服05：<span class='qq_num'></span></p>
    </li>
  </ul>
</div>
<script type="text/javascript">
    myEvent(window, 'load', function () {
        dealy('qq_icon', 1);						//1秒后显示QQ图标，默认为1秒，可自行设置
        settop('qq_icon', 'cs_online', 150);		//设置在线客服的高度，默认150，可自行设置
        var span_q = getbyClass('cs_online', 'qq_num');
        setqq(span_q, ['1632814245', '1632814245', '1632814245', '1632814245', '1632814245']);		//填写5个QQ号码
        click_fn('qq_icon', 'cs_online');
    });
</script>
<!-- 代码 结束 -->

<!--       微信         -->
<div id="code"></div>
<div id="code_img"></div>
<a id="gotop" href="javascript:void(0)"></a>
<!--       end        -->