<LINK rel=stylesheet type=text/css href="../css/common.css">
<SCRIPT type=text/javascript src="../js/jquery.js"></SCRIPT>
<SCRIPT type=text/javascript src="../js/kefu.js"></SCRIPT>
<DIV id=floatTools class=float0831>
  <DIV class=floatL>
    <A style="DISPLAY: none" id=aFloatTools_Show class=btnOpen
       title=查看在线客服
       onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');"
       href="javascript:void(0);">展开
    </A>
    <A id=aFloatTools_Hide class=btnCtn
       title=关闭在线客服
       onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');"
       href="javascript:void(0);">收缩
    </A>
  </DIV>
  <DIV id=divFloatToolsView class=floatR>
    <DIV class=tp></DIV>
    <DIV class=cn>
      <UL>
        <LI class=top>
          <H3 class=titZx>QQ咨询</H3>
        </LI>
        <LI><SPAN class=icoZx>在线咨询</SPAN></LI>
        <LI><A class=icoTc href="http://connect.qq.com/widget/wpa/login.html?tuin=1632814245&sigT=ca2322abe747df62ff5afca32ddf9d30796fb6dd592e25d93253dc3bf90ca1873a213a8cd456ff597c189d7745aabd2e&sigU=b3e893a228ff99b04b15129fc5d26b390050e76ca0923a9a61496a22629d2fca37a3015b8e694aaf">新校尉客服</A></LI>
       <!-- <LI><A class=icoTc href="javascript:void(0);">新校尉客服</A></LI>-->
        <LI><A class=icoTc href="http://connect.qq.com/widget/wpa/login.html?tuin=1632814245&sigT=ca2322abe747df62ff5afca32ddf9d30796fb6dd592e25d93253dc3bf90ca1873a213a8cd456ff597c189d7745aabd2e&sigU=b3e893a228ff99b04b15129fc5d26b390050e76ca0923a9a61496a22629d2fca37a3015b8e694aaf">新校尉客服</A></LI>
       <!-- <LI class=bot><A class=icoTc href="javascript:void(0);">新校尉客服</A></LI>-->
      </UL>
      <UL>
        <LI>
          <H3 class=titDh>电话咨询</H3>
        </LI>
        <LI><SPAN class=icoTl>0431-81680508</SPAN></LI>
        <LI><SPAN class=icoTl>0431-81680509</SPAN></LI>
      </UL>
    </DIV>
  </DIV>
</DIV>
<!-- 代码 结束 -->

<!--       微信         -->
<div id="code"></div>
<div id="code_img"></div>
<a id="gotop" href="javascript:void(0)"></a>
<!--       end        -->