<div class="index_right">
    <div class="index_rt_img">
        <img src="/images/zaixian_07.jpg">
        <img class="imgg" src="/images/diyibu_07.jpg">
        <img class="imgga" src="/images/spa1_07.jpg">
    </div>
    <%= form_for(:member, :url => user_create_main_index_path, :method => :post) do |f| %>
    <table class="feedback_table">
        <tbody>
        <tr>
            <td class="text">真实姓名</td>
            <td class="input">
                <input name="member[name]" type="text" size="30" class="input-text" value="请输真实姓名"
                       onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                       onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999">
            </td>
        </tr>
        <tr>
            <td class="text">身份证号</td>
            <td class="input">
                <input name="member[card_id]" type="text" size="30" class="input-text" value="请输身份证号码"
                       onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                       onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999">
            </td>
        </tr>
        <tr>
            <td class="text">邮箱地址</td>
            <td class="input">
                <input name="member[email]" type="text" size="30" class="input-text" value="请输真实邮箱地址"
                       onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                       onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999">
            </td>
        </tr>
        <tr>
            <td class="text">手机电话</td>
            <td class="input">
                <input name="member[tel]" type="text" size="30" class="input-text" value="请输真实手机号"
                       onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                       onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999">
            </td>
        </tr>
        <tr>
            <td class="text">家庭住址</td>
            <td class="input">
                <input name="member[address]" type="text" size="30" class="input-text" value="请输真实家庭住址"
                       onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                       onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999">
            </td>
        </tr>
        <tr>
            <td class="text">选择性别</td>
            <td class="input">
                <%= f.select :sex_id, options_for_select(Member::SEX_CATEGORYS) %>
            </td>
        </tr>
        <tr>
            <td class="text"></td>
            <td class="submint">
                <input type="hidden" name="fdtitle" value="在线反馈">
                <input type="hidden" name="lang" value="cn">
                <input type="hidden" name="ip" value="58.53.2.7">
                <input type="hidden" name="totnum" value="4">
                <input type="hidden" name="id" value="31">
                <input type="hidden" name="fid_url" value="1">
                <input type="submit" name="Submit" value="确认" class="submit button orange"></td>
        </tr>
        </tbody>
    </table>
    <% end %>
</div>
<div class="clear"></div>
