<style type="text/css">
    <!--
    #demo {
        background: #FFF;
        overflow: hidden;
        border: 1px dashed #CCC;
        width: 615px;
    }

    #demo img {
        border: 3px solid #F2F2F2;
    }

    #indemo {
        float: left;
        width: 1000%;
        height: 166px;
    }

    #demo1 {
        float: left;
    }

    #demo2 {
        float: left;
    }

    -->
</style>
<div id="demo">
    <div id="indemo">
        <div id="demo1">
            <%if @category_2_questions.count>0%>
            <%for i in 1..@category_2_questions.length-1%>
            <a href="<%= @category_2_questions[i-1].url%>">
                <img src="<%= @category_2_questions[i-1].avatar.url(:medium)%>" border="0"/></a>
            <%end%>
            <a href="<%= @category_2_questions[-1].url%>">
                <img src="<%= @category_2_questions[-1].avatar.url(:medium)%>" border="0"/></a>
            <%end%>
        </div>
        <div id="demo2"></div>
    </div>
</div>
<script>
    <!--
    var speed = 10;
    var tab = document.getElementById("demo");
    var tab1 = document.getElementById("demo1");
    var tab2 = document.getElementById("demo2");
    tab2.innerHTML = tab1.innerHTML;
    function Marquee() {
        if (tab2.offsetWidth - tab.scrollLeft <= 0)
            tab.scrollLeft -= tab1.offsetWidth
        else {
            tab.scrollLeft++;
        }
    }
    var MyMar = setInterval(Marquee, speed);
    tab.onmouseover = function () {
        clearInterval(MyMar)
    };
    tab.onmouseout = function () {
        MyMar = setInterval(Marquee, speed)
    };
    -->
</script>