<div class="head_right">
  <ul class="head_ul">
    <li>
      <a href="<%= root_path %>" class="head_a">
        <img src="/images/1.jpg"/>
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= campus_main_index_path %>" class="head_a">
        <img src="/images/xuexiao_03.jpg"/>
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= teacher_main_index_path %>" class="head_a">
        <img src="/images/jiaoshi_03.jpg">
      </a>
      <span class="head_span"></span>
    </li>
    <li>
      <a href="<%= contact_us_main_index_path %>" class="head_a">
        <img src="/images/lianxi_03.jpg">
      </a>
    </li>
  </ul>
</div>
