<div class="index_bt_right">
    <div class="index_bt_rt_ma">
        <div class="index_ma_top">
            <a href="#" class="index_ma_top_a">报名条件</a>
            <a href="#" class="index_ma_top_ab">Registration Conditions</a>
        </div>
        <div class="index_ma_center">
            <ol class="list-none metlist">
                <li class="list ">
                    <a href="#" title="12-50周岁" target="_self">12-50周岁</a>
                </li>
                <li class="list top">
                    <a href="#" title="有效的身份证" target="_self">有效的身份证</a>
                </li>
                <li class="list ">
                    <a href="#" title="有效的联系方式及地址" target="_self">有效的联系方式及地址</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="index_bt_rt_ma">
        <div class="index_ma_top">
            <a href="#" class="index_ma_top_a">新校尉新闻</a>
            <a href="#" class="index_ma_top_ab">School News</a>
        </div>
        <div class="index_ma_center">
            <ol class="list-none metlist">
                <% @category_9_questions.each do |j| %>
                <li class="list top">
                    <%= link_to truncate_u(j.title, 10), school_news_path(j)%>
                </li>
                <% end %>
            </ol>
        </div>
    </div>
</div>
<div class="clear"></div>