<div class="index_bt_right">
    <div class="index_bt_rt_ma">
        <div class="index_ma_top">
            <a href="#" class="index_ma_top_a">申请条件</a>
            <a href="#" class="index_ma_top_ab">conditions apply</a>
        </div>
        <div class="index_ma_center">
            <ol class="list-none metlist">
                <li class="list top">
                    <a href="#" title="有中国国籍" target="_self">有中国国籍</a>
                </li>
                <li class="list ">
                    <a href="#" title="12-50周岁" target="_self">12-50周岁</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="index_bt_rt_ma">
        <div class="index_ma_top">
            <a href="#" class="index_ma_top_a">所需材料</a>
            <a href="#" class="index_ma_top_ab">Materials needed</a>
        </div>
        <div class="index_ma_center">
            <ol class="list-none metlist">
                <li class="list top">
                    <a href="#" title="有效的身份证" target="_self">有效的身份证</a>
                </li>
                <li class="list ">
                    <a href="#" title="有效的联系方式及地址" target="_self">有效的联系方式及地址</a>
                </li>
                <li class="list ">
                    <a href="#" title="相关学籍" target="_self">相关学籍</a>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clear"></div>